body{
  background: var(--bg-color);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--font-main);
  text-align: center;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

main{
  text-align: left;
  max-width: 48rem;
  margin: 0 auto;
  padding: 0 2rem;
  overflow: hidden;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;

  li{
    padding: 0.2rem 0;
  }
}

a{
  color: var(--font-main);

  &:hover{
    color: var(--highlight-one);
  }

  &:visited{
    color: var(--font-two);

    &:hover{
      color: var(--highlight-one);
    }
  }
}
